[Unit]
Description=Home media center
Requires=multi-user.target plex.service tautulli.service jackett.service radarr.service sonarr.service sonarr-anime.service sonarr-kids.service nginx.service lidarr.service
After=multi-user.target 

[Install]
Alias=media-center.target
Requires=plex.service tautulli.service jackett.service radarr.service sonarr.service sonarr-anime.service sonarr-kids.service nginx.service lidarr.service

